<mat-card>
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + cocktailThumbnail + ')'}"></div>
      <div *ngIf="isViewed">
        <svg width="16px" height="16px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title>recently-viewed</title><polygon points="20.59 22 15 16.41 15 7 17 7 17 15.58 22 20.59 20.59 22"/><path d="M16,2A13.94,13.94,0,0,0,6,6.23V2H4v8h8V8H7.08A12,12,0,1,1,4,16H2A14,14,0,1,0,16,2Z"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>
      </div>
      <mat-card-title  title="{{cocktailName}}">{{cocktailName}}</mat-card-title>
      <mat-card-subtitle  title="{{cuisines}}">{{cuisines}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image width="400" height="300" src="{{cocktailThumbnail}}" alt="Cocktail {{cocktailName}}">
    <mat-card-content>
      <p>Rating: <span class="rating-star">{{'★'.repeat(math.round(rating))}}</span></p>
      <p>Review: {{review}}</p>
      
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn">View details</button>
    </mat-card-actions>
  </mat-card>